/* color */
/*mixin*/
body {
  font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.space-between {
  justify-content: space-between; }

.no-margin {
  margin: 0; }

.capitalize {
  text-transform: capitalize; }

.dropdown-full {
  position: static; }

.text-primary {
  color: #2196f3; }

.text-secondary {
  color: #727b84; }

.text-success {
  color: #4caf50; }

.text-danger {
  color: #f44336; }

.text-warning {
  color: #ffc107; }

.text-info {
  color: #00bcd4; }

.text-light {
  color: #e2e6ea; }

.text-dark {
  color: #2b373a; }

.primary {
  background-color: #2196f3;
  color: #fff; }

.secondary {
  background-color: #727b84;
  color: #fff; }

.success {
  background-color: #4caf50;
  color: #fff; }

.danger {
  background-color: #f44336;
  color: #fff; }

.warning {
  background-color: #ffc107;
  color: #fff; }

.info {
  background-color: #00bcd4;
  color: #fff; }

.light {
  background-color: #e2e6ea; }

.dark {
  background-color: #2b373a;
  color: #fff; }

button:hover {
  cursor: pointer; }
button.disabled {
  border-color: #999 !important;
  color: #868e96; }
  button.disabled:focus {
    box-shadow: none; }
button[disabled]:hover, button.disabled:hover {
  cursor: no-drop; }

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3; }
  .btn-primary:hover {
    background-color: #0c7cd5;
    border-color: #0c7cd5; }

.btn-secondary {
  background-color: #727b84;
  border-color: #727b84; }
  .btn-secondary:hover {
    background-color: #5a6269;
    border-color: #5a6269; }

.btn-success {
  background-color: #4caf50;
  border-color: #4caf50; }
  .btn-success:hover {
    background-color: #3d8b40;
    border-color: #3d8b40; }

.btn-danger {
  background-color: #f44336;
  border-color: #f44336; }
  .btn-danger:hover {
    background-color: #ea1c0d;
    border-color: #ea1c0d; }

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107; }
  .btn-warning:hover {
    background-color: #d39e00;
    border-color: #d39e00; }

.btn-info {
  background-color: #00bcd4;
  border-color: #00bcd4; }
  .btn-info:hover {
    background-color: #008fa1;
    border-color: #008fa1; }

.btn-light {
  background-color: #e2e6ea;
  border-color: #e2e6ea; }
  .btn-light:hover {
    background-color: #c4cdd5;
    border-color: #c4cdd5; }

.btn-dark {
  background-color: #2b373a;
  border-color: #2b373a; }
  .btn-dark:hover {
    background-color: #151b1d;
    border-color: #151b1d; }

.btn-outline-primary {
  background-color: transparent;
  border-color: #2196f3; }
  .btn-outline-primary:hover {
    background-color: #2196f3; }

.btn-outline-secondary {
  background-color: transparent;
  border-color: #727b84; }
  .btn-outline-secondary:hover {
    background-color: #727b84; }

.btn-outline-success {
  background-color: transparent;
  border-color: #4caf50; }
  .btn-outline-success:hover {
    background-color: #4caf50; }

.btn-outline-danger {
  background-color: transparent;
  border-color: #f44336; }
  .btn-outline-danger:hover {
    background-color: #f44336; }

.btn-outline-warning {
  background-color: transparent;
  border-color: #ffc107; }
  .btn-outline-warning:hover {
    background-color: #ffc107; }

.btn-outline-info {
  background-color: transparent;
  border-color: #00bcd4; }
  .btn-outline-info:hover {
    background-color: #00bcd4; }

.btn-outline-light {
  background-color: transparent;
  border-color: #e2e6ea; }
  .btn-outline-light:hover {
    background-color: #e2e6ea; }

.btn-outline-dark {
  background-color: transparent;
  border-color: #2b373a; }
  .btn-outline-dark:hover {
    background-color: #2b373a; }

.btn-outline-disabled {
  color: #868e96;
  cursor: no-drop;
  background-color: transparent;
  background-image: none;
  border-color: #868e96; }
  .btn-outline-disabled:focus {
    box-shadow: none; }

.btn-rounded {
  border-radius: 90px !important;
  padding-left: 20px;
  padding-right: 20px; }

.btn-ghost-primary,
.btn-ghost-secondary,
.btn-ghost-success,
.btn-ghost-danger,
.btn-ghost-warning,
.btn-ghost-info,
.btn-ghost-light,
.btn-ghost-dark,
.btn-ghost-disabled {
  background: transparent;
  color: #383f45;
  border: 1px solid #9ba5ae;
  transition: all .3s;
  border-radius: 0; }

.btn-no-border,
.btn-no-border.disabled {
  border-color: transparent !important; }

.btn-ghost-primary:hover {
  color: #fff;
  border-color: #2196f3;
  background: #2196f3; }

.btn-ghost-secondary:hover {
  color: #fff;
  border-color: #727b84;
  background: #727b84; }

.btn-ghost-success:hover {
  color: #fff;
  border-color: #4caf50;
  background: #4caf50; }

.btn-ghost-warning:hover {
  color: #fff;
  border-color: #ffc107;
  background: #ffc107; }

.btn-ghost-danger:hover {
  color: #fff;
  border-color: #f44336;
  background: #f44336; }

.btn-ghost-info:hover {
  color: #fff;
  border-color: #00bcd4;
  background: #00bcd4; }

.btn-ghost-light:hover {
  color: #fff;
  border-color: #e2e6ea;
  background: #e2e6ea; }

.btn-ghost-dark:hover {
  color: #fff;
  border-color: #2b373a;
  background: #2b373a; }

.btn.btn-xl {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.4285715;
  border-radius: 3px; }

.btn.btn-lg {
  padding: 9px 15px;
  font-size: 14px;
  line-height: 1.4285715;
  border-radius: 3px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 7px 12px;
  font-size: 13px;
  line-height: 1.5384616;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn.btn-sm {
  padding: 6px 11px;
  font-size: 12px;
  line-height: 1.6666667;
  border-radius: 3px; }

.btn.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.6666667;
  border-radius: 3px; }

.nav-link {
  cursor: pointer; }

.pagination {
  font-size: 12px; }

.page-primary .page-link {
  color: #2196f3;
  border-color: #2196f3;
  transition: all .3s; }
  .page-primary .page-link:hover {
    color: #fff;
    background-color: #2196f3; }

.page-secondary .page-link {
  color: #727b84;
  border-color: #727b84;
  transition: all .3s; }
  .page-secondary .page-link:hover {
    color: #fff;
    background-color: #727b84; }

.page-success .page-link {
  color: #4caf50;
  border-color: #4caf50;
  transition: all .3s; }
  .page-success .page-link:hover {
    color: #fff;
    background-color: #4caf50; }

.page-danger .page-link {
  color: #f44336;
  border-color: #f44336;
  transition: all .3s; }
  .page-danger .page-link:hover {
    color: #fff;
    background-color: #f44336; }

.page-warning .page-link {
  color: #ffc107;
  border-color: #ffc107;
  transition: all .3s; }
  .page-warning .page-link:hover {
    color: #fff;
    background-color: #ffc107; }

.page-info .page-link {
  color: #00bcd4;
  border-color: #00bcd4;
  transition: all .3s; }
  .page-info .page-link:hover {
    color: #fff;
    background-color: #00bcd4; }

.page-light .page-link {
  color: #e2e6ea;
  border-color: #e2e6ea;
  transition: all .3s; }
  .page-light .page-link:hover {
    color: #fff;
    background-color: #e2e6ea; }

.page-dark .page-link {
  color: #2b373a;
  border-color: #2b373a;
  transition: all .3s; }
  .page-dark .page-link:hover {
    color: #fff;
    background-color: #2b373a; }

.pagination.rounded .prev {
  border-radius: 100px 0 0 100px; }
.pagination.rounded .next {
  border-radius: 0 100px 100px 0; }

.pagination.no-border .page-link {
  border: none; }

.pagination.circle .page-link {
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 100px; }

.badge {
  line-height: 14px;
  padding: 2px 5px; }

.badge.badge-lg {
  padding: 5px 15px; }

.badge-primary {
  border-radius: 100px;
  font-size: 10px;
  background-color: #2196f3;
  color: #fff;
  border: 1px solid transparent; }

.badge-secondary {
  border-radius: 100px;
  font-size: 10px;
  background-color: #727b84;
  color: #fff;
  border: 1px solid transparent; }

.badge-success {
  border-radius: 100px;
  font-size: 10px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid transparent; }

.badge-danger {
  border-radius: 100px;
  font-size: 10px;
  background-color: #f44336;
  color: #fff;
  border: 1px solid transparent; }

.badge-warning {
  border-radius: 100px;
  font-size: 10px;
  background-color: #ffc107;
  color: #fff;
  border: 1px solid transparent; }

.badge-info {
  border-radius: 100px;
  font-size: 10px;
  background-color: #00bcd4;
  color: #fff;
  border: 1px solid transparent; }

.badge-light {
  border-radius: 100px;
  font-size: 10px;
  background-color: #e2e6ea;
  color: #fff;
  border: 1px solid transparent; }

.badge-dark {
  border-radius: 100px;
  font-size: 10px;
  background-color: #2b373a;
  color: #fff;
  border: 1px solid transparent; }

.justify-content-space-between {
  justify-content: space-between; }

.panel {
  overflow: hidden;
  margin-bottom: 20px;
  color: #212529;
  background: #fff;
  border-radius: 3px;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  .panel .panel-header {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px 10px; }
  .panel .panel-body {
    padding: 10px 20px; }
  .panel .panel-footer {
    font-size: 13px;
    padding: 10px 20px 15px; }

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none; }

.dropdown-item.active {
  background-color: #2b373a; }

.dropdown-item:active {
  background-color: #2196f3; }

/*color*/
.bg-dark {
  background: #2b373a !important; }

.bg-primary {
  background-color: #2196f3 !important; }

.bg-danger {
  background-color: #f44336 !important; }

.bg-success {
  background-color: #4caf50 !important; }

.bg-info {
  background-color: #00bcd4 !important; }

.text-info {
  color: #00bcd4 !important; }

.bg-grey {
  background: #999; }

.bg-ligth-grey {
  background-color: #f5f5f5; }

.line-top {
  border-top: 1px solid #ddd; }

.line-bottom {
  border-bottom: 1px solid #ddd; }

/*dropdown*/
.dropdown-toggle {
  position: relative;
  padding-right: 20px !important; }

.dropdown-toggle::after {
  position: absolute;
  content: '\f107';
  font-family: fontawesome;
  border: none;
  top: 20%;
  right: 5px;
  width: auto; }

.look-all {
  border-top: 1px solid #ddd; }
  .look-all a {
    display: block;
    text-align: center;
    color: #212529;
    padding: 5px 0 0;
    background-color: #fcfcfc;
    transition: all .3s; }
    .look-all a:hover {
      background-color: #f5f5f5; }
    .look-all a i {
      font-size: 16px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    margin-right: 8px; }
    input[type="checkbox"] + .cbx::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 5px;
      width: 5px;
      height: 11px;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 0.3s ease;
      transition-delay: 0.15s; }
  input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1); }
  input[type="checkbox"]:disabled ~ .cbx {
    background: #f5f5f5;
    cursor: no-drop; }
  input[type="checkbox"]:checked ~ .cbx {
    border-color: transparent;
    background: #2b373a; }
  input[type="checkbox"].checkbox-primary:checked ~ .cbx {
    border-color: #2196f3;
    background: #2196f3; }
  input[type="checkbox"].checkbox-secondary:checked ~ .cbx {
    border-color: #727b84;
    background: #727b84; }
  input[type="checkbox"].checkbox-success:checked ~ .cbx {
    border-color: #4caf50;
    background: #4caf50; }
  input[type="checkbox"].checkbox-danger:checked ~ .cbx {
    border-color: #f44336;
    background: #f44336; }
  input[type="checkbox"].checkbox-warning:checked ~ .cbx {
    border-color: #ffc107;
    background: #ffc107; }
  input[type="checkbox"].checkbox-info:checked ~ .cbx {
    border-color: #00bcd4;
    background: #00bcd4; }
  input[type="checkbox"].checkbox-light:checked ~ .cbx {
    border-color: #e2e6ea;
    background: #e2e6ea; }
  input[type="checkbox"].checkbox-dark:checked ~ .cbx {
    border-color: #2b373a;
    background: #2b373a; }

.radio-label,
.checkbox-label {
  vertical-align: middle;
  cursor: pointer; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 50%;
    vertical-align: middle;
    transition: background 0.1s ease;
    margin-right: 8px;
    cursor: pointer; }
    input[type="radio"] + .cbx::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background: #fff;
      transform: rotate(45deg) scale(0);
      transition: all 0.3s ease;
      transition-delay: 0.15s; }
  input[type="radio"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1); }
  input[type="radio"]:disabled ~ .cbx {
    background: #f5f5f5;
    cursor: no-drop; }
  input[type="radio"]:checked ~ .cbx {
    border-color: transparent;
    background: #2b373a; }
  input[type="radio"].radio-primary:checked ~ .cbx {
    border-color: #2196f3;
    background: #2196f3; }
  input[type="radio"].radio-secondary:checked ~ .cbx {
    border-color: #727b84;
    background: #727b84; }
  input[type="radio"].radio-success:checked ~ .cbx {
    border-color: #4caf50;
    background: #4caf50; }
  input[type="radio"].radio-danger:checked ~ .cbx {
    border-color: #f44336;
    background: #f44336; }
  input[type="radio"].radio-warning:checked ~ .cbx {
    border-color: #ffc107;
    background: #ffc107; }
  input[type="radio"].radio-info:checked ~ .cbx {
    border-color: #00bcd4;
    background: #00bcd4; }
  input[type="radio"].radio-light:checked ~ .cbx {
    border-color: #e2e6ea;
    background: #e2e6ea; }
  input[type="radio"].radio-dark:checked ~ .cbx {
    border-color: #2b373a;
    background: #2b373a; }

.radio-jelly:checked ~ .cbx,
.checkbox-jelly:checked ~ .cbx {
  animation: jelly 0.6s ease; }

@-moz-keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }
@-o-keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }
@keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }
.datepicker.datepicker-dropdown {
  max-width: 200px;
  padding: 0; }
  .datepicker.datepicker-dropdown .datepicker-days .table-condensed,
  .datepicker.datepicker-dropdown .datepicker-months .table-condensed,
  .datepicker.datepicker-dropdown .datepicker-years .table-condensed,
  .datepicker.datepicker-dropdown .datepicker-decades .table-condensed,
  .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed {
    padding: 0; }
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2),
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2),
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2),
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2),
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) {
      height: 40px;
      background: #2b373a;
      color: #fff;
      position: relative; }
      .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th,
      .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th,
      .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th,
      .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th,
      .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th {
        border-radius: 0; }
        .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:first-child, .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:last-child {
          position: absolute;
          display: block;
          line-height: 14px;
          top: 9px;
          border-radius: 50%;
          vertical-align: middle;
          height: 25px;
          width: 25px;
          text-align: center; }
          .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:first-child:hover, .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:last-child:hover,
          .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:first-child:hover,
          .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:last-child:hover,
          .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:first-child:hover,
          .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:last-child:hover,
          .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:first-child:hover,
          .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:last-child:hover,
          .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:first-child:hover,
          .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:last-child:hover {
            background: #415357; }
        .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:first-child,
        .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:first-child {
          left: 5px; }
        .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) th:last-child,
        .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) th:last-child {
          right: 5px; }
      .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) .datepicker-switch,
      .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) .datepicker-switch,
      .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) .datepicker-switch,
      .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) .datepicker-switch,
      .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) .datepicker-switch {
        width: 100%; }
        .datepicker.datepicker-dropdown .datepicker-days .table-condensed thead tr:nth-child(2) .datepicker-switch:hover,
        .datepicker.datepicker-dropdown .datepicker-months .table-condensed thead tr:nth-child(2) .datepicker-switch:hover,
        .datepicker.datepicker-dropdown .datepicker-years .table-condensed thead tr:nth-child(2) .datepicker-switch:hover,
        .datepicker.datepicker-dropdown .datepicker-decades .table-condensed thead tr:nth-child(2) .datepicker-switch:hover,
        .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed thead tr:nth-child(2) .datepicker-switch:hover {
          background: #415357; }
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .dow,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .dow,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .dow,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .dow,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .dow {
      color: #9ba5ae;
      font-weight: 100; }
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .day.active,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .month.active,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .year.active,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .decade.active,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .century.active,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .day.active,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .month.active,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .year.active,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .decade.active,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .century.active,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .day.active,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .month.active,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .year.active,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .decade.active,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .century.active,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .day.active,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .month.active,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .year.active,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .decade.active,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .century.active,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .day.active,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .month.active,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .year.active,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .decade.active,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .century.active {
      border-radius: 50%;
      background: #2b373a;
      color: #fff; }
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .day:hover, .datepicker.datepicker-dropdown .datepicker-days .table-condensed .day.focused,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .month:hover,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .month.focused,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .year:hover,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .year.focused,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .decade:hover,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .decade.focused,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .century:hover,
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed .century.focused,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .day:hover,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .day.focused,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .month:hover,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .month.focused,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .year:hover,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .year.focused,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .decade:hover,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .decade.focused,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .century:hover,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed .century.focused,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .day:hover,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .day.focused,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .month:hover,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .month.focused,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .year:hover,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .year.focused,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .decade:hover,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .decade.focused,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .century:hover,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed .century.focused,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .day:hover,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .day.focused,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .month:hover,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .month.focused,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .year:hover,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .year.focused,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .decade:hover,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .decade.focused,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .century:hover,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed .century.focused,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .day:hover,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .day.focused,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .month:hover,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .month.focused,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .year:hover,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .year.focused,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .decade:hover,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .decade.focused,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .century:hover,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed .century.focused {
      border-radius: 50%; }
    .datepicker.datepicker-dropdown .datepicker-days .table-condensed span,
    .datepicker.datepicker-dropdown .datepicker-months .table-condensed span,
    .datepicker.datepicker-dropdown .datepicker-years .table-condensed span,
    .datepicker.datepicker-dropdown .datepicker-decades .table-condensed span,
    .datepicker.datepicker-dropdown .datepicker-centuries .table-condensed span {
      display: block;
      width: 23%;
      height: 44px;
      line-height: 44px;
      float: left;
      margin: 1%;
      cursor: pointer; }

/*image*/
.circle {
  border-radius: 50%; }

/*animated*/
.fadeInUpCost {
  animation-name: fadeInUpCost; }

@keyframes fadeInUpCost {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fullRotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
.bounceInUpCost {
  animation-name: bounceInUpCost; }

@keyframes bounceInUpCost {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0); }
  75% {
    transform: translate3d(0, 5px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.bounceInDownCost {
  animation-name: bounceInDownCost; }

@keyframes bounceInDownCost {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 10px, 0); }
  75% {
    transform: translate3d(0, -5px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
/* color */
/*mixin*/
body > * {
  margin-left: 55px; }
  body > *, body > * .top-header, body > * .main-menu {
    transition: all .3s; }
  body > * .hamburger i {
    transition: all 1s; }
  body > * .show-hide {
    display: none; }

body > *:not(.active) .main-menu .nav-link:hover {
  border: 1px solid #fff;
  width: 230px;
  background-color: #82c4f8 !important;
  background-image: -moz-linear-gradient(left, #82c4f8, #2196f3) !important;
  background-image: -webkit-linear-gradient(left, #82c4f8, #2196f3) !important;
  background-image: -o-linear-gradient(left, #82c4f8, #2196f3) !important;
  color: #fff; }
  body > *:not(.active) .main-menu .nav-link:hover p {
    display: block; }
body > *:not(.active) .main-menu .dropdown.show .nav-link {
  border: 1px solid #fff;
  width: 230px;
  background-color: #2196f3;
  color: #fff; }
  body > *:not(.active) .main-menu .dropdown.show .nav-link p {
    display: block; }
  body > *:not(.active) .main-menu .dropdown.show .nav-link.dropdown-toggle::after {
    opacity: 1;
    right: 15px; }
body > *:not(.active) .main-menu .nav-item > .nav-link:not(.dropdown-toggle):hover::after {
  content: "\f101";
  font-family: "fontawesome";
  position: absolute;
  left: 220px; }
body > *:not(.active) .main-menu .nav-item .dropdown-menu.show {
  position: relative;
  width: 230px;
  top: 0; }
body > *:not(.active) .main-menu .nav-item .child-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 10px; }
  body > *:not(.active) .main-menu .nav-item .child-menu > ul {
    padding-left: 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d9d9d9; }
    body > *:not(.active) .main-menu .nav-item .child-menu > ul > li {
      list-style: none; }
body > *:not(.active) .main-menu .nav-item .dropdown-hover-toogler.active + .child-menu {
  display: block; }
body > *:not(.active) .main-menu .nav-item .dropdown-hover-toogler.active {
  background-color: #82c4f8 !important;
  background-image: -moz-linear-gradient(left, #82c4f8, #2196f3) !important;
  background-image: -webkit-linear-gradient(left, #82c4f8, #2196f3) !important;
  background-image: -o-linear-gradient(left, #82c4f8, #2196f3) !important;
  color: #fff; }
body > *:not(.active) .main-menu .dropdown-toggle::after {
  opacity: 0; }
body > *:not(.active) .main-menu .dropdown-toggle:hover::after {
  right: 15px;
  opacity: 1; }

body > .active {
  margin-left: 300px; }
  body > .active .top-header {
    margin-left: 300px; }
    body > .active .top-header .menu-top {
      left: 316px; }
  body > .active .main-menu {
    width: 300px; }
    body > .active .main-menu .navbar-nav {
      overflow-y: scroll;
      height: calc(100% - 76px); }
    body > .active .main-menu .nav-link p {
      transition: all .3s ease-in-out;
      margin-left: 10px; }
    body > .active .main-menu .nav-link:hover p, body > .active .main-menu .nav-link:focus p {
      margin-left: 20px; }
    body > .active .main-menu .dropdown.show {
      border: 1px solid rgba(118, 190, 247, 0.77);
      border-radius: 5px;
      overflow: hidden;
      padding-bottom: 10px; }
      body > .active .main-menu .dropdown.show .nav-link p {
        margin-left: 20px; }
    body > .active .main-menu .dropdown-item i,
    body > .active .main-menu .dropdown-hover-toogler i {
      transition: all .3s ease-in-out; }
    body > .active .main-menu .dropdown-item.active > i, body > .active .main-menu .dropdown-item:hover > i, body > .active .main-menu .dropdown-item:focus > i,
    body > .active .main-menu .dropdown-hover-toogler.active > i,
    body > .active .main-menu .dropdown-hover-toogler:hover > i,
    body > .active .main-menu .dropdown-hover-toogler:focus > i {
      margin-right: 10px; }
    body > .active .main-menu .dropdown-menu {
      padding-top: 0;
      margin: 0;
      border-radius: 0; }
      body > .active .main-menu .dropdown-menu .dropdown-hover-toogler,
      body > .active .main-menu .dropdown-menu .dropdown-item {
        padding-left: 5px; }
    body > .active .main-menu .child-menu {
      display: none; }
    body > .active .main-menu .dropdown-menu,
    body > .active .main-menu .child-menu {
      position: relative;
      margin-left: 15px; }
      body > .active .main-menu .dropdown-menu:after,
      body > .active .main-menu .child-menu:after {
        content: '';
        position: absolute;
        width: 1px;
        bottom: 0;
        top: -4px;
        background: #cccccc; }
    body > .active .main-menu .dropdown-item {
      position: relative; }
      body > .active .main-menu .dropdown-item:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 1px;
        background: #cccccc;
        top: 15px;
        left: 0; }
      body > .active .main-menu .dropdown-item:hover {
        background: transparent;
        color: #212529; }
    body > .active .main-menu .dropdown-hover-toogler:after,
    body > .active .main-menu .dropdown-toggle:after {
      content: "\f196"; }
    body > .active .main-menu .dropdown-hover-toogler.active:after,
    body > .active .main-menu .dropdown.show .dropdown-toggle:after {
      content: "\f147"; }
    body > .active .main-menu .dropdown-hover-toogler.active + .child-menu {
      display: block; }
  body > .active .show-hide {
    display: block; }
  body > .active .hamburger i:first-child {
    transform: rotate(-45deg) translateX(-3px);
    width: 40%; }
  body > .active .hamburger i:last-child {
    transform: rotate(45deg) translateX(-3px);
    width: 40%; }
  body > .active .dropdown-menu {
    border: none; }

.bg-city {
  background-image: url(../image/city.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%; }

.grey-opacity {
  background-color: rgba(31, 31, 31, 0.78); }

.fixed-full {
  position: fixed;
  height: 100%;
  width: 100%; }

/* ==========================================
                  header
  =========================================== */
.top-header {
  margin-left: 55px; }
  .top-header .menu-top {
    box-shadow: 2px 0 1px rgba(0, 0, 0, 0.4);
    transition: all .2s ease-out;
    background: #2196f3;
    width: 35px;
    margin-top: 0;
    margin-left: -16px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 14px;
    left: 71px; }
    .top-header .menu-top .hamburger {
      display: block;
      width: 25px;
      height: 25px;
      position: relative; }
      .top-header .menu-top .hamburger i {
        position: absolute;
        width: calc(100% - 10px);
        height: 2px;
        background: #fff;
        margin-left: 5px;
        top: 10px;
        border-radius: 5px; }
        .top-header .menu-top .hamburger i:first-child {
          margin-top: -5px; }
        .top-header .menu-top .hamburger i:last-child {
          margin-top: 5px; }
    .top-header .menu-top span {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 5px;
      left: 10px;
      transition: all .3s; }
    .top-header .menu-top img {
      width: 100%; }
    .top-header .menu-top p {
      margin-left: 76px;
      font-family: arial;
      font-size: 12px;
      line-height: normal;
      color: #37474f;
      transition: all .3s; }
      .top-header .menu-top p.text-bold {
        margin-bottom: 0;
        padding-top: 11px;
        font-weight: bold;
        font-size: 25px;
        color: #27338d; }
    .top-header .menu-top a:hover {
      text-decoration: none; }
  .top-header .dropdown-toggle::after {
    transition: all .3s;
    top: 27px; }
  .top-header .navbar {
    padding-top: 0;
    padding-bottom: 0; }
    .top-header .navbar.bg-dark {
      background: transparent !important; }
  .top-header .navbar-nav .nav-link {
    padding-top: 27px;
    color: #fff;
    padding-bottom: 25px;
    padding-left: 8px;
    transition: all .3s; }
    .top-header .navbar-nav .nav-link:hover, .top-header .navbar-nav .nav-link:focus {
      background: #0c7cd5; }
    .top-header .navbar-nav .nav-link p {
      margin-bottom: 0; }
  .top-header .navbar-nav .nav-link,
  .top-header .navbar-nav .dropdown-item {
    font-size: 12px; }
  .top-header .navbar-nav .notif .nav-link {
    padding-bottom: 21px; }
  .top-header .navbar-nav .notif i {
    font-size: 20px;
    line-height: 10px;
    margin-right: 5px; }
  .top-header .navbar-nav .notif-badge {
    position: absolute;
    padding: 2px;
    line-height: 10px;
    top: 20px;
    right: 18px;
    font-size: 9px;
    border: 1px solid #2196f3;
    background: #fff;
    transition: all .3s;
    color: #2196f3; }
  .top-header .navbar-collapse.justify-content-end .dropdown-menu {
    left: auto;
    right: 0;
    padding-top: 0;
    padding-bottom: 0; }
  .top-header .flag-icon,
  .top-header i {
    margin-right: 10px;
    display: inline-block; }
  .top-header .dropdown-menu {
    border-radius: 0; }
    .top-header .dropdown-menu:before, .top-header .dropdown-menu:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      bottom: 100%;
      right: 9px; }
    .top-header .dropdown-menu:before {
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #cccccc transparent; }
    .top-header .dropdown-menu:after {
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #fff transparent;
      right: 10px; }
  .top-header .dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #f5f5f5;
    font-weight: bold;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    transition: all .3s; }
    .top-header .dropdown-item:hover, .top-header .dropdown-item:focus {
      border-left: 4px solid #5bb1f6; }
  .top-header .profile .nav-link {
    display: flex;
    align-items: center;
    padding-bottom: 23px; }
  .top-header .profile .img-avatar {
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-right: 10px; }
    .top-header .profile .img-avatar img {
      width: 30px; }
  .top-header .search .nav-link {
    padding-bottom: 25px;
    padding-right: 10px !important; }
    .top-header .search .nav-link:after {
      content: none; }
    .top-header .search .nav-link i {
      margin: 0 10px;
      font-size: 15px;
      line-height: 12px; }
  .top-header .search .dropdown-menu.show {
    position: fixed;
    top: -2px;
    width: 100%;
    border: none;
    height: 70px;
    display: flex;
    transition: all .3s; }
  .top-header .search .search-inpt + button {
    background: #2196f3; }
    .top-header .search .search-inpt + button i {
      color: #fff; }
  .top-header .notif .dropdown-menu {
    width: 300px;
    font-size: 12px; }
    .top-header .notif .dropdown-menu .notif-top-header {
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
      padding-bottom: 10px; }
      .top-header .notif .dropdown-menu .notif-top-header button {
        padding: 0; }
        .top-header .notif .dropdown-menu .notif-top-header button i {
          font-size: 15px;
          color: #2196f3; }
      .top-header .notif .dropdown-menu .notif-top-header p {
        margin: 0; }
    .top-header .notif .dropdown-menu .notif-list {
      padding: 0;
      overflow-y: scroll;
      height: 200px; }
    .top-header .notif .dropdown-menu .notif-detail {
      position: relative;
      list-style: none;
      border-bottom: 1px solid #f5f5f5; }
      .top-header .notif .dropdown-menu .notif-detail:first-child {
        border-top: 1px solid #f5f5f5; }
      .top-header .notif .dropdown-menu .notif-detail p {
        margin: 0; }
      .top-header .notif .dropdown-menu .notif-detail .img-avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        left: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transition: all .3s; }
        .top-header .notif .dropdown-menu .notif-detail .img-avatar img {
          width: 150%; }
      .top-header .notif .dropdown-menu .notif-detail .notif-header,
      .top-header .notif .dropdown-menu .notif-detail .notif-content {
        padding-left: 65px;
        padding-right: 5px; }
      .top-header .notif .dropdown-menu .notif-detail .notif-header {
        font-weight: bold; }
      .top-header .notif .dropdown-menu .notif-detail .notif-content {
        padding-top: 5px;
        line-height: 14px; }
      .top-header .notif .dropdown-menu .notif-detail .badge {
        position: absolute;
        z-index: 1;
        border: 1px solid #fff;
        bottom: 3px;
        left: 10px;
        transition: all .3s; }
      .top-header .notif .dropdown-menu .notif-detail a {
        transition: all .3s;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        color: #212529; }
        .top-header .notif .dropdown-menu .notif-detail a:hover {
          background: #f8f9fa;
          border-left: 5px solid #2196f3;
          text-decoration: none; }
          .top-header .notif .dropdown-menu .notif-detail a:hover .img-avatar {
            left: 15px; }
          .top-header .notif .dropdown-menu .notif-detail a:hover .badge {
            left: 15px; }

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 55px;
  z-index: 9;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2); }
  .main-menu .logo-top {
    width: 100%; }
    .main-menu .logo-top img {
      width: 40px;
      margin: 15px 5px; }
    .main-menu .logo-top a {
      text-decoration: none; }
    .main-menu .logo-top .logo-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 10px; }
      .main-menu .logo-top .logo-text p {
        margin: 0;
        font-size: 12px;
        color: #212529; }
      .main-menu .logo-top .logo-text .text-bold {
        margin-bottom: -10px;
        color: #27338d;
        font-family: arial;
        font-weight: bold;
        font-size: 19px; }
  .main-menu .navbar-nav {
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    position: static; }
    .main-menu .navbar-nav > li {
      display: block; }
  .main-menu .nav-link {
    padding-left: 5px;
    display: flex;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #666666; }
    .main-menu .nav-link p {
      margin: 0;
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .main-menu .has-child {
    position: relative;
    padding: 0 !important; }
  .main-menu .dropdown-hover-toogler {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px; }
    .main-menu .dropdown-hover-toogler:after {
      content: "\f105";
      position: absolute;
      font-family: 'fontawesome';
      right: 15px;
      top: 5px; }
  .main-menu .dropdown-item {
    padding-left: 10px;
    font-size: 14px; }
    .main-menu .dropdown-item:hover, .main-menu .dropdown-item:focus {
      background: #2196f3;
      color: #fff; }
    .main-menu .dropdown-item p {
      margin: 0; }
  .main-menu .dropdown-menu ul {
    padding: 0; }
  .main-menu .dropdown-menu li {
    list-style: none; }

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #0c7cd5; }

.header.scrolled .top-header .menu-top span {
  width: 35px;
  height: 35px; }
.header.scrolled .top-header .menu-top p {
  padding: 0;
  margin-bottom: 0;
  margin-left: 50px; }
  .header.scrolled .top-header .menu-top p:first-child {
    font-size: 20px !important; }
.header.scrolled .top-header .dropdown-toggle::after {
  top: 13px; }
.header.scrolled .top-header .notif-badge {
  top: 7px; }
.header.scrolled .top-header .notif .nav-link {
  padding-bottom: 7px; }
.header.scrolled .top-header .nav-link {
  padding-top: 14px;
  color: #fff;
  padding-bottom: 11px;
  padding-left: 8px;
  transition: all .3s; }
.header.scrolled .top-header .profile .nav-link {
  padding-bottom: 9px; }
.header.scrolled .top-header .search .nav-link {
  padding-top: 10px; }
.header.scrolled .top-header .search .dropdown-menu {
  height: 44px; }

/* ==========================================
                  content
  =========================================== */
.content {
  color: #fff;
  padding-top: 10px;
  min-height: 540px;
  padding-left: 10px; }

.breadcrumbs .breadcrumbs-title {
  font-size: 20px;
  margin-bottom: 0; }
.breadcrumbs .breadcrumb {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 14px;
  background: transparent; }
  .breadcrumbs .breadcrumb a {
    color: #fff; }

.daily-info {
  display: flex;
  color: #fff;
  margin-right: 20px; }
  .daily-info button {
    padding: 0 10px;
    color: #fff; }
    .daily-info button:hover, .daily-info button:focus {
      color: #e6e6e6;
      text-decoration: none; }
  .daily-info i {
    text-align: center;
    display: block; }
  .daily-info p {
    font-size: 13px;
    margin-bottom: 0; }

.content-body > * {
  height: 100%; }
.content-body .panel {
  height: 100%;
  position: relative; }

.card p,
.card label,
.card input,
.card select,
.card table,
.panel p,
.panel label,
.panel input,
.panel select,
.panel table {
  font-size: 13px; }
.card select.form-control,
.panel select.form-control {
  height: 2.09rem !important;
  padding-top: 5px; }
.card .form-error,
.panel .form-error {
  font-size: 13px; }
.card .table td, .card .table th,
.panel .table td,
.panel .table th {
  padding: 0.5rem; }

.card {
  margin-bottom: 15px; }

.animated.bounceInUpCost {
  animation-duration: .5s;
  animation-fill-mode: both; }

.animated.bounceInDownCost {
  animation-duration: .3s;
  animation-fill-mode: both; }

footer {
  padding: 5px 25px;
  background: #fff; }
  footer p {
    margin: 0; }
  footer .logo {
    font-family: arial; }
    footer .logo p:first-child {
      margin-top: 5px;
      font-weight: bold;
      font-size: 17px;
      color: #27338d;
      line-height: 12px; }
    footer .logo P:last-child {
      font-size: 10px;
      line-height: 10px; }
  footer .copyright {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 8px; }

.login {
  font-size: 13px;
  margin-top: -50px; }
  .login .input {
    margin-bottom: 15px; }
  .login input {
    font-size: 13px; }

#page-404 .display-1 {
  font-size: 10vw;
  margin: 0; }
#page-404 p {
  margin-bottom: 0; }
#page-404 .gotohome {
  font-size: 13px;
  color: #fff;
  position: relative;
  padding-left: 20px; }
  #page-404 .gotohome:before {
    position: absolute;
    content: '\e8e1';
    font-family: 'fontello';
    left: 0;
    top: 0;
    transition: all .3s; }
  #page-404 .gotohome:hover {
    text-decoration: none; }
    #page-404 .gotohome:hover:before {
      transform: translateX(-10px); }

/*# sourceMappingURL=style.css.map */
